{{- $email := promptStringOnce . "email" "Email address" -}}
{{ $hasGUI := promptBoolOnce . "hasGUI" "Does this machine have a GUI?" }}

[data]
    email = {{ $email | quote }}
    gui = {{ $hasGUI }}
