[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty

[submodule "oh-my-zsh"]
    path = .oh-my-zsh
    url = https://github.com/ohmyzsh/ohmyzsh
    ignore = dirty

[submodule "tmux-sensible"]
    path = .tmux/plugins/tmux-sensible
    url = https://github.com/tmux-plugins/tmux-sensible
    ignore = dirty

[submodule "tmux-yank"]
    path = .tmux/plugins/tmux-yank
    url = https://github.com/tmux-plugins/tmux-yank
    ignore = dirty

[submodule "tpm"]
    path = .tmux/plugins/tpm
    url = https://github.com/tmux-plugins/tpm
    ignore = dirty

[submodule "config/nvim/plugged/comfortable-motion.vim"]
    path = .config/nvim/plugged/comfortable-motion.vim
    url = https://github.com/yuttie/comfortable-motion.vim
    ignore = dirty

[submodule "config/nvim/plugged/vim-visual-multi"]
    path = .config/nvim/plugged/vim-visual-multi
    url = https://github.com/mg979/vim-visual-multi
    ignore = dirty

[submodule "config/nvim/plugged/gruvbox"]
    path = .config/nvim/plugged/gruvbox
    url = https://github.com/morhetz/gruvbox
    ignore = dirty

[submodule "config/nvim/plugged/nerdtree"]
    path = .config/nvim/plugged/nerdtree
    url = https://github.com/preservim/nerdtree
    ignore = dirty
