#!/bin/bash
{{ if eq .chezmoi.osRelease.id "ubuntu" -}}
# Ubuntu packages
sudo apt install -y \
    tldr man-db bat sysstat ncdu ntfs-3g acpi udevil \
    zsh vim kitty tmux byobu ripgrep ranger \
    xclip feh jq curl jq net-tools \
    pipewire pipewire-pulse playerctl \
    fonts-firacode fonts-hack fd-find

sudo snap install --classic nvim
{{- if .gui }}

sudo apt install -y i3 i3status \
    feh pcmanfm rofi picom lxappearance autorandr pavucontrol firefox vlc

sudo snap install spotify
{{- end -}}
{{- end -}}

{{- if eq .chezmoi.osRelease.id "arch" -}}
# Arch packages
yay -S --noconfirm \
    tldr man-db bat sysstat ncdu ntfs-3g acpi udevil \
    zsh vim neovim kitty tmux byobu ripgrep ranger \
    xclip feh jq curl jq fd net-tools \
    pipewire pipewire-pulse playerctl \
    noto-fonts-cjk noto-fonts-emoji ntfsfixboot \
    nerd-fonts-hack ttf-fira-code ttf-nerd-fonts-symbols-2048-em-mono
{{- if .gui }}

yay -S --noconfirm i3-gaps i3blocks i3status i3lock-color network-manager-applet \
    feh pcmanfm rofi picom lxappearance autorandr pavucontrol firefox vlc
{{- end -}}
{{- end -}}

# Install vim-plug
sh -c 'curl -fLo "${XDG_DATA_HOME:-$HOME/.local/share}"/nvim/site/autoload/plug.vim --create-dirs \
       https://raw.githubusercontent.com/junegunn/vim-plug/master/plug.vim'
