#!/bin/bash
{{ if eq .chezmoi.osRelease.id "ubuntu" -}}
# Ubuntu packages
sudo apt install -y \
    tldr man-db bat sysstat ncdu ntfs-3g acpi udevil \
    vim kitty tmux byobu ripgrep \
    xclip feh jq curl jq net-tools \
    pipewire pipewire-pulse playerctl \
    fonts-mononoki fonts-hack fd-find

sudo snap install --classic nvim
{{- if .gui }}

sudo apt install -y i3 i3status \
    feh pcmanfm rofi picom lxappearance autorandr pavucontrol firefox vlc

sudo snap install spotify
{{- end -}}
{{- end -}}

{{- if eq .chezmoi.osRelease.id "arch" -}}
# Arch packages
yay -S --noconfirm \
    tldr man-db bat sysstat ncdu ntfs-3g acpi udevil \
    vim neovim kitty tmux byobu ripgrep \
    xclip feh jq curl jq fd net-tools \
    pipewire pipewire-pulse playerctl \
    noto-fonts-cjk noto-fonts-emoji ntfsfixboot \
    nerd-fonts-hack nerd-fonts-mononoki ttf-nerd-fonts-symbols-2048-em-mono
{{- if .gui }}

yay -S --noconfirm i3-gaps i3blocks i3status i3lock-color network-manager-applet \
    feh pcmanfm rofi picom lxappearance autorandr pavucontrol firefox vlc
{{- end -}}
{{- end -}}
