{{ if .gui -}}
#!/bin/bash

PACKAGES_COMMON="feh pcmanfm rofi picom lxappearance autorandr pavucontrol firefox vlc"
{{ if eq .chezmoi.osRelease.idLike "archlinux" -}}
yay -S --noconfirm i3-gaps i3blocks i3status i3lock-color network-manager-applet \
    $PACKAGES_COMMON
{{ else if eq .chezmoi.osRelease.idLike "debian" -}}
sudo apt install -y i3 i3status \
    $PACKAGES_COMMON

sudo snap install spotify
{{ end }}
{{ end }}
