#!/bin/bash
set -e

echo "Starting Alacritty installation"
if command -v alacritty &> /dev/null; then
	echo "Alacritty already installed. Exiting"
	exit 0
fi

if ! command -v rustup &> /dev/null; then
	# Install rustup.rs
	curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh
fi

# Rust setup
rustup override set stable
rustup update stable

# Build from source
git clone -b v0.13.2 --single-branch https://github.com/alacritty/alacritty.git
cd alacritty
cargo build --release 

# Check installation
infocmp alacritty
echo "Alacritty installed successfully"

# Cleanup
cd ..
rm -rf alacritty
