#!/bin/bash

set -e

{{ if eq .chezmoi.osRelease.id "arch" -}}
sudo pacman -S --needed git go base-devel
git clone https://aur.archlinux.org/yay.git
cd yay && makepkg -si
cd .. && rm -rf yay
{{- else if eq .chezmoi.osRelease.id "ubuntu" -}}
sudo apt-add-repository universe
sudo apt update
sudo apt upgrade -y
sudo snap refresh
{{- end }}

set +e
