# i3 config file (v4)
# Please see http://i3wm.org/docs/userguide.html for a complete reference!

# Set mod key (Mod1=<Alt>, Mod4=<Super>)
set $mod Mod4

set $monitor_first {{ .screens.first }}
set $monitor_second {{ .screens.second }}
set $monitor_third {{ .screens.third }}

exec --no-startup-id xrandr --output $monitor_first --primary

workspace 1 output $monitor_first
workspace 2 output $monitor_first
workspace 3 output $monitor_first
workspace 4 output $monitor_first
workspace 5 output $monitor_first
workspace 6 output $monitor_second
workspace 7 output $monitor_second
workspace 8 output $monitor_third
workspace 9 output $monitor_third
workspace 0 output $monitor_third

#navigate workspaces next / previous
bindsym $mod+Ctrl+Right workspace next
bindsym $mod+Ctrl+Left workspace prev

# Workspace names
# to display names or symbols instead of plain workspace numbers you can use
# something like: set $ws1 1:mail
#                 set $ws2 2:
set $ws1 1
set $ws2 2
set $ws3 3
set $ws4 4
set $ws5 5
set $ws6 6
set $ws7 7
set $ws8 8
set $ws9 9
set $ws0 0

# switch to workspace
bindsym $mod+1 workspace $ws1
bindsym $mod+2 workspace $ws2
bindsym $mod+3 workspace $ws3
bindsym $mod+4 workspace $ws4
bindsym $mod+5 workspace $ws5
bindsym $mod+6 workspace $ws6
bindsym $mod+7 workspace $ws7
bindsym $mod+8 workspace $ws8
bindsym $mod+9 workspace $ws9
bindsym $mod+0 workspace $ws0

# Move focused container to workspace
bindsym $mod+Ctrl+1 move container to workspace $ws1
bindsym $mod+Ctrl+2 move container to workspace $ws2
bindsym $mod+Ctrl+3 move container to workspace $ws3
bindsym $mod+Ctrl+4 move container to workspace $ws4
bindsym $mod+Ctrl+5 move container to workspace $ws5
bindsym $mod+Ctrl+6 move container to workspace $ws6
bindsym $mod+Ctrl+7 move container to workspace $ws7
bindsym $mod+Ctrl+8 move container to workspace $ws8
bindsym $mod+Ctrl+9 move container to workspace $ws9
bindsym $mod+Ctrl+0 move container to workspace $ws0

# Move to workspace with focused container
bindsym $mod+Shift+1 move container to workspace $ws1; workspace $ws1
bindsym $mod+Shift+2 move container to workspace $ws2; workspace $ws2
bindsym $mod+Shift+3 move container to workspace $ws3; workspace $ws3
bindsym $mod+Shift+4 move container to workspace $ws4; workspace $ws4
bindsym $mod+Shift+5 move container to workspace $ws5; workspace $ws5
bindsym $mod+Shift+6 move container to workspace $ws6; workspace $ws6
bindsym $mod+Shift+7 move container to workspace $ws7; workspace $ws7
bindsym $mod+Shift+8 move container to workspace $ws8; workspace $ws8
bindsym $mod+Shift+9 move container to workspace $ws9; workspace $ws9
bindsym $mod+Shift+0 move container to workspace $ws0; workspace $ws0

# set default desktop layout (default is tiling)
workspace_layout tabbed

# Open applications on specific workspaces
assign [class="(?i)Firefox"] $ws2
assign [class="(?i)rambox"] $ws0
for_window [class="(?i)Spotify"] move to workspace $ws7

{{ if .workProfile -}}
# Work specific workspaces
assign [class="(?i)slack"] $ws9
assign [class="(?i)google-chrome"] $ws3
{{ else -}}
# My PC specific workspaces
{{ end -}}

# Configure border style <normal|1pixel|pixel xx|none|pixel>
default_border pixel 3
default_floating_border normal

# Hide borders
hide_edge_borders none

# change borders
bindsym $mod+u border none
bindsym $mod+y border pixel 3
bindsym $mod+n border normal

# Font for window titles. Will also be used by the bar unless a different font
# is used in the bar {} block below.
font pango: Fira Code SemiBold 10

# Use Mouse+$mod to drag floating windows
floating_modifier $mod

# start a terminal
bindsym $mod+Return exec alacritty

# kill focused window
bindsym $mod+q kill

# start pr ndow titles. Will also be used by the bar unless a different fontgram launcher
#bindsym $mod+d exec --no-startup-id dmenu_recency
bindsym $mod+d exec --no-startup-id rofi -show-icons -show run -run-shell-command '{terminal} -e zsh -ic "{cmd} && read"'
bindsym $mod+w exec --no-startup-id rofi -show-icons -show window
# launch categorized menu
bindsym $mod+z exec --no-startup-id rofi -show-icons -show drun

################################################################################################
## sound-section - DO NOT EDIT if you wish to automatically upgrade Alsa -> Pulseaudio later! ##
################################################################################################

#exec --no-startup-id volumeicon
#bindsym $mod+Ctrl+m exec terminal -e 'alsamixer'
exec --no-startup-id start-pulseaudio-x11
#exec --no-startup-id pa-applet
bindsym $mod+Ctrl+m exec pavucontrol

################################################################################################

# Screen brightness controls
bindsym XF86MonBrightnessUp exec "brightnessctl s 10%+; notify-send --expire-time=500 'brightness up'"
bindsym XF86MonBrightnessDown exec "brightnessctl s 10%-; notify-send --expire-time=500 'brightness down'"

# Start Applications
bindsym $mod+Ctrl+b exec kitty btop
bindsym $mod+B exec firefox
bindsym $mod+O exec obsidian
bindsym $mod+Ctrl+n --release exec "xpad"
{{ if eq .chezmoi.hostname "renan" -}}
# My PC specific
bindsym $mod+E exec pcmanfm
bindsym $mod+Shift+P exec okular ~/Documents/Books/LearningGo.pdf
{{ else if .workProfile -}}
# work specific
bindsym $mod+F6 exec google-chrome
{{- end }}
bindsym $mod+F4 exec discord
bindsym $mod+Shift+F3 exec pcmanfm_pkexec
bindsym $mod+F5 exec spotify
bindsym $mod+t exec --no-startup-id pkill picom
bindsym $mod+Ctrl+t exec --no-startup-id picom -b
bindsym $mod+Shift+d --release exec "killall dunst; exec notify-send 'restart dunst'"
# bindsym Print exec --no-startup-id i3-scrot
#bindsym $mod+Print --release exec --no-startup-id i3-scrot -w
#bindsym $mod+Shift+Print --release exec --no-startup-id i3-scrot -s
#bindsym $mod+Ctrl+h exec xdg-open /usr/share/doc/manjaro/i3_help.pdf
bindsym $mod+Ctrl+x --release exec --no-startup-id xkill

# focus_follows_mouse no

# change focus
bindsym $mod+h focus left
bindsym $mod+j focus down
bindsym $mod+k focus up
bindsym $mod+l focus right

# alternatively, you can use the cursor keys:
bindsym $mod+Left focus left
bindsym $mod+Down focus down
bindsym $mod+Up focus up
bindsym $mod+Right focus right

# move focused window
bindsym $mod+Shift+h move left
bindsym $mod+Shift+j move down
bindsym $mod+Shift+k move up
bindsym $mod+Shift+l move right

# alternatively, you can use the cursor keys:
bindsym $mod+Shift+Left move left
bindsym $mod+Shift+Down move down
bindsym $mod+Shift+Up move up
bindsym $mod+Shift+Right move right

# workspace back and forth (with/without active container)
workspace_auto_back_and_forth yes
# bindsym $mod+b workspace back_and_forth
# bindsym $mod+Shift+b move container to workspace back_and_forth; workspace back_and_forth

# split orientation
# bindsym $mod+h split h;exec notify-send 'tile horizontally'
# bindsym $mod+v split v;exec notify-send 'tile vertically'
bindsym $mod+grave split toggle;exec notify-send 'toggle tile'

# toggle fullscreen mode for the focused container
bindsym $mod+f fullscreen toggle

# change container layout (stacked, tabbed, toggle split)
bindsym $mod+F1 layout stacking;exec notify-send -u low 'Layout: Stacking'
bindsym $mod+F2 layout tabbed;exec notify-send -u low 'Layout: Tabbed'
bindsym $mod+Tab layout toggle split;exec notify-send -u low 'Toogle Split'

# toggle tiling / floating
bindsym $mod+Shift+space floating toggle

# change focus between tiling / floating windows
bindsym $mod+space focus mode_toggle

# toggle sticky
bindsym $mod+s sticky disable;exec notify-send -u low 'sticky disable'
bindsym $mod+Shift+s sticky enable;exec notify-send -u low 'sticky enable'

# focus the parent container
bindsym $mod+Shift+a focus parent
bindsym $mod+a focus child

# move the currently focused window to the scratchpad
bindsym $mod+Shift+minus move scratchpad

# Show the next scratchpad window or hide the focused scratchpad window.
# If there are multiple scratchpad windows, this command cycles through them.
bindsym $mod+minus scratchpad show

# Open specific applications in floating mode
for_window [title="(?i)btop" class="kitty"] floating enable border pixel 1 resize set 1280 720
for_window [class="(?i)xpad"] floating enable border pixel 1 resize set 250 250
for_window [class="(?i)flameshot"] floating enable border pixel 1 resize set 448 720
for_window [class="(?i)arandr"] floating enable border pixel 1 resize set 528 596
for_window [class="(?i)solaar"] floating enable border pixel 1 resize set 800 600
for_window [class="(?i)Pcmanfm"] floating enable border pixel 1 resize set 800 600
for_window [class="(?i)Nautilus"] floating enable border pixel 1 resize set 800 600
for_window [title="alsamixer"] floating enable border pixel 1
for_window [class="calamares"] floating enable border normal
for_window [class="Clipgrab"] floating enable
for_window [title="File Transfer*"] floating enable
for_window [class="fpakman"] floating enable
for_window [class="Galculator"] floating enable border pixel 1
for_window [class="GParted"] floating enable border normal
for_window [title="i3_help"] floating enable sticky enable border normal
for_window [class="Lightdm-settings"] floating enable
for_window [class="Lxappearance"] floating enable sticky enable border normal
for_window [class="Manjaro-hello"] floating enable
for_window [class="Manjaro Settings Manager"] floating enable border normal
for_window [title="MuseScore: Play Panel"] floating enable
for_window [class="Nitrogen"] floating enable sticky enable border normal
for_window [class="Oblogout"] fullscreen enable
for_window [class="octopi"] floating enable
for_window [title="About Pale Moon"] floating enable
for_window [class="Pamac-manager"] floating enable
for_window [class="Pavucontrol"] floating enable
for_window [class="qt5ct"] floating enable sticky enable border normal
for_window [class="Qtconfig-qt4"] floating enable sticky enable border normal
for_window [class="Simple-scan"] floating enable border normal
for_window [class="(?i)System-config-printer.py"] floating enable border normal
for_window [class="Skype"] floating enable border normal
for_window [class="Timeset-gui"] floating enable border normal
for_window [class="(?i)virtualbox"] floating enable border normal
for_window [class="Xfburn"] floating enable move absolute position center
for_window [class="Yad"] floating enable
for_window [class="(?i)Steam"] floating enable
for_window [class="(?i)blueman-manager"] floating enable resize set 800 600
for_window [class="(?i)nm-connection-editor"] floating enable
for_window [window_role="pop-up"] floating enable
for_window [window_role="task_dialog"] floating enable

# switch to workspace with urgent window automatically
for_window [urgent=latest] focus

# reload the configuration file
bindsym $mod+Shift+c reload

# restart i3 inplace (preserves your layout/session, can be used to upgrade i3)
bindsym $mod+Shift+r restart

# exit i3 (logs you out of your X session)
bindsym $mod+Shift+e exec "i3-nagbar -t warning -m 'You pressed the exit shortcut. Do you really want to exit i3? This will end your X session.' -b 'Yes, exit i3' 'i3-msg exit'"

# Set shut down, restart and locking features
bindsym $mod+Shift+q mode "$mode_system"
set $mode_system (l)ock, (e)xit, switch_(u)ser, (s)uspend, (h)ibernate, (r)eboot, (Shift+s)hutdown
mode "$mode_system" {
    bindsym l exec --no-startup-id i3exit lock, mode "default"
    bindsym s exec --no-startup-id i3exit suspend, mode "default"
    bindsym u exec --no-startup-id i3exit switch_user, mode "default"
    bindsym e exec --no-startup-id i3exit logout, mode "default"
    bindsym h exec --no-startup-id i3exit hibernate, mode "default"
    bindsym r exec --no-startup-id i3exit reboot, mode "default"
    bindsym Shift+s exec --no-startup-id i3exit shutdown, mode "default"

    # exit system mode: "Enter" or "Escape"
    bindsym Return mode "default"
    bindsym Escape mode "default"
}

# Resize window (you can also use the mouse for that)
bindsym $mod+r mode "resize"
mode "resize" {
        # These bindings trigger as soon as you enter the resize mode
        # Pressing left will shrink the window’s width.
        # Pressing right will grow the window’s width.
        # Pressing up will shrink the window’s height.
        # Pressing down will grow the window’s height.
        bindsym j resize shrink width 5 px or 5 ppt
        bindsym k resize grow height 5 px or 5 ppt
        bindsym l resize shrink height 5 px or 5 ppt
        bindsym semicolon resize grow width 5 px or 5 ppt

        # same bindings, but for the arrow keys
        bindsym Left resize shrink width 10 px or 10 ppt
        bindsym Down resize grow height 10 px or 10 ppt
        bindsym Up resize shrink height 10 px or 10 ppt
        bindsym Right resize grow width 10 px or 10 ppt

        # exit resize mode: Enter or Escape
        bindsym Return mode "default"
        bindsym Escape mode "default"
}

bindsym $mod+shift+greater mode "$mode_dotfiles"
set $mode_dotfiles Update dotfiles? This will overwrite modifications (y/n)
mode "$mode_dotfiles" {
    bindsym y exec "chezmoi apply --force; notify-send 'Dotfiles updated'", mode "default"
    bindsym n mode "default"
    bindsym Return mode "default"
    bindsym Escape mode "default"
}

# Lock screen
{{ if .workProfile -}}
bindsym $mod+Ctrl+l exec --no-startup-id i3lock
{{ else }}
bindsym $mod+Ctrl+l exec --no-startup-id i3lock -B sigma -k --time-color=ffffff --date-color=ffffff --pass-volume-keys
{{- end }}

# Autostart applications
# exec --no-startup-id firefox
exec --no-startup-id nitrogen --restore; sleep 1; picom -b
exec --no-startup-id nm-applet
exec --no-startup-id clipit
exec --no-startup-id blueman-applet
exec --no-startup-id flameshot
exec --no-startup-id kdeconnect-indicator
exec --no-startup-id spotify
exec --no-startup-id solaar -w hide
exec --no-startup-id firefox
exec --no-startup-id rambox
# exec_always --no-startup-id sbxkb
# exec --no-startup-id start_conky_maia
# exec --no-startup-id start_conky_green
# exec --no-startup-id xautolock -time 15 -locker i3lock
#exec_always --no-startup-id ff-theme-util
exec_always --no-startup-id fix_xcursor
exec_always --no-startup-id $HOME/.fehbg
# exec_always --no-startup-id $HOME/.config/polybar/launch.sh

{{ if eq .chezmoi.hostname "renan" -}}
# My PC specific
{{ else if .workProfile -}}
# Work specific
exec --no-startup-id slack
exec --no-startup-id google-chrome
{{- end }}

# Color palette used for the terminal ( ~/.Xresources file )
# Colors are gathered based on the documentation:
# https://i3wm.org/docs/userguide.html#xresources
# Change the variable name at the place you want to match the color
# of your terminal like this:
# [example]
# If you want your bar to have the same background color as your 
# terminal background change the line 362 from:
# background #14191D
# to:
# background $term_background
# Same logic applied to everything else.
set_from_resource $term_background background
set_from_resource $term_foreground foreground
set_from_resource $term_color0     color0
set_from_resource $term_color1     color1
set_from_resource $term_color2     color2
set_from_resource $term_color3     color3
set_from_resource $term_color4     color4
set_from_resource $term_color5     color5
set_from_resource $term_color6     color6
set_from_resource $term_color7     color7
set_from_resource $term_color8     color8
set_from_resource $term_color9     color9
set_from_resource $term_color10    color10
set_from_resource $term_color11    color11
set_from_resource $term_color12    color12
set_from_resource $term_color13    color13
set_from_resource $term_color14    color14
set_from_resource $term_color15    color15

# Restart bar on caps/num
#bindsym --release Caps_Lock exec pkill -SIGRTMIN+10 i3blocks
bindsym --release Num_Lock exec pkill -SIGRTMIN+11 i3blocks

# Cycle keyboard layouts
bindsym $mod+Mod1+k exec ~/.i3/i3-keyboard-layout cycle us "us intl"
bindsym $mod+Mod1+1 exec ~/.i3/i3-keyboard-layout set us
bindsym $mod+Mod1+2 exec ~/.i3/i3-keyboard-layout set "us intl"


### THEME ###
# https://github.com/a-schaefers/i3-wm-gruvbox-theme/blob/master/i3/config
# set primary gruvbox colorscheme colors
set $bg #282828
set $fg #ebdbb2
set $red #cc241d
set $green #98971a
set $yellow #d79921
set $blue #458588
set $purple #b16286
set $aqua #689d68
set $gray #a89984
set $darkgray #1d2021

# Theme colors
# class                 border  	backgr.		text		indic.		child_border
client.focused			$bg			$yellow		$darkgray	$aqua		$darkgray
client.focused_inactive	$darkgray 	$darkgray	$blue		$blue		$darkgray
client.unfocused		$darkgray	$darkgray	$gray		$yellow		$darkgray
client.urgent			$red		$red		$white		$red		$red



# Start i3bar to display a workspace bar (plus the system information i3status if available)
bar {
## please set your primary output first. Example: 'xrandr --output eDP1 --primary'
	tray_output primary
	#i3bar_command i3bar
	#status_command i3status | ~/.i3/i3-keyboard-layout i3status
    status_command SCRIPT_DIR=~/.config/i3blocks i3blocks | ~/.i3/i3-keyboard-layout i3status
	position bottom

	bindsym button4 nop
	bindsym button5 nop
	strip_workspace_numbers yes

	font pango:Fira Code:style=Light 14

    colors {
        background $bg
        statusline $gray
        separator  $fg

#								border		backgr.		text
		focused_workspace		$fg			$blue		$darkgray
		inactive_workspace		$bg			$darkgray	$gray
		active_workspace		$bg			$darkgray	$gray
		urgent_workspace		$bg			$aqua		$darkgray
    }
}

# hide/unhide i3status bar
bindsym $mod+m bar mode toggle

{{ if not (eq .chezmoi.osRelease.id "ubuntu") }}
#############################
### settings for i3-gaps: ###
#############################

# Set inner/outer gaps
gaps inner 5
gaps outer -2

# Additionally, you can issue commands with the following syntax. This is useful to bind keys to changing the gap size.
# gaps inner|outer current|all set|plus|minus <px>
# gaps inner all set 10
# gaps outer all plus 5

# Smart gaps (gaps used if only more than one container on the workspace)
smart_gaps on

# Smart borders (draw borders around container only if it is not the only container on this workspace) 
# on|no_gaps (on=always activate and no_gaps=only activate if the gap size to the edge of the screen is 0)
smart_borders on

# Press $mod+Shift+g to enter the gap mode. Choose o or i for modifying outer/inner gaps. Press one of + / - (in-/decrement for current workspace) or 0 (remove gaps for current workspace). If you also press Shift with these keys, the change will be global for all workspaces.
set $mode_gaps Gaps: (o) outer, (i) inner
set $mode_gaps_outer Outer Gaps: +|-|0 (local), Shift + +|-|0 (global)
set $mode_gaps_inner Inner Gaps: +|-|0 (local), Shift + +|-|0 (global)
bindsym $mod+Shift+g mode "$mode_gaps"

mode "$mode_gaps" {
        bindsym o      mode "$mode_gaps_outer"
        bindsym i      mode "$mode_gaps_inner"
        bindsym Return mode "default"
        bindsym Escape mode "default"
}
mode "$mode_gaps_inner" {
        bindsym plus  gaps inner current plus 5
        bindsym minus gaps inner current minus 5
        bindsym 0     gaps inner current set 0

        bindsym Shift+plus  gaps inner all plus 5
        bindsym Shift+minus gaps inner all minus 5
        bindsym Shift+0     gaps inner all set 0

        bindsym Return mode "default"
        bindsym Escape mode "default"
}
mode "$mode_gaps_outer" {
        bindsym plus  gaps outer current plus 5
        bindsym minus gaps outer current minus 5
        bindsym 0     gaps outer current set 0

        bindsym Shift+plus  gaps outer all plus 5
        bindsym Shift+minus gaps outer all minus 5
        bindsym Shift+0     gaps outer all set 0

        bindsym Return mode "default"
        bindsym Escape mode "default"
}
{{ end }}

bindsym --release Print exec flameshot full -c
bindsym --release Ctrl+Print exec flameshot gui -p ~/Pictures/Screenshots/Flameshot

set $mode_monitors Monitors: (s) single, (d) dual, (t) triple, (1) first, (2) second, (3) third
bindsym $mod+Shift+m mode "$mode_monitors"

mode "$mode_monitors" {
        bindsym s      exec autorandr single
        bindsym d      exec autorandr dual
        bindsym t      exec autorandr triple
        bindsym 2      exec autorandr second
        bindsym 3      exec autorandr third
        bindsym Return mode "default"
        bindsym Escape mode "default"
}

bindsym XF86AudioMute exec pactl set-sink-mute 0 toggle
bindsym XF86AudioMute --release exec pkill -RTMIN+1 i3blocks
bindsym XF86AudioLowerVolume exec pactl set-sink-volume 0 -1%
bindsym XF86AudioLowerVolume --release exec pkill -RTMIN+1 i3blocks
bindsym XF86AudioRaiseVolume exec pactl set-sink-volume 0 +1%
bindsym XF86AudioRaiseVolume --release exec pkill -RTMIN+1 i3blocks
bindsym XF86AudioPlay --release exec playerctl play-pause
bindsym XF86AudioPause --release exec playerctl play-pause
bindsym XF86AudioNext --release exec playerctl next
bindsym XF86AudioPrev --release exec playerctl previous

